@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using DocFlowHub.Core.Identity
@using DocFlowHub.Infrastructure.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Administrator"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Admin/Index">
                <i class="bi bi-gear"></i> Admin
            </a>
        </li>
    }
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> Hello @UserManager.GetUserName(User)!
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
                <a class="dropdown-item" asp-page="/Account/Manage/Index">
                    <i class="bi bi-person"></i> Profile
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-page="/Settings/AI">
                    <i class="bi bi-robot"></i> AI Settings
        </a>
    </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form class="d-inline" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                    <button type="submit" class="dropdown-item">
                <i class="bi bi-box-arrow-right"></i> Logout
            </button>
        </form>
                         </li>
         </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-page="/Account/Register" aria-current="@(ViewContext.RouteData.Values["Page"]?.ToString() == "/Account/Register" ? "page" : null)">
            <i class="bi bi-person-plus"></i> Register
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-page="/Account/Login" aria-current="@(ViewContext.RouteData.Values["Page"]?.ToString() == "/Account/Login" ? "page" : null)">
            <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
    </li>
}
</ul>
